.styledTable {
    border-collapse: collapse;
    margin: 25px 0;
}

.styledTable thead tr {
    text-align: left;
}

.styledTable th,
.styledTable td {
    padding: 12px 15px;
}

.styledTable tbody tr {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.filters {
    display: flex;
    align-items: flex-end;
    justify-items: flex-end;
    margin: 2rem 4rem;
    gap: 1rem;
}

.filters select {
    width: 300px;
}
.spacer {
    flex: 1 1 auto;
}

.table {
    margin: 2rem 4rem 2rem 0;
}